/* YAMP - Yet Another Markdown Parser */
/* Author - riviox */

:root {
    --background-color: #efe6dd; /* Catpuccino mocha background */
    --code-background-color: #beb3a7; /* Catpuccino mocha code background */
    --code-color: #3e3631; /* Catpuccino mocha code color */
    --heading-color: #8f715b; /* Catpuccino mocha heading color */
    --link-color: #0366d6; /* Default link color */
    --link-hover-color: #115fbf; /* Link hover color */
    --text-color: #24292e; /* Default text color */
    --blockquote-border-color: #dfe2e5; /* Blockquote border color */
    --blockquote-text-color: #6a737d; /* Blockquote text color */
    --hr-background-color: #d1d5da; /* HR background color */
    --del-text-color: #586069; /* Deleted text color */
}

.md pre {
    white-space: pre-wrap;
    margin: 0;
    background-color: var(--background-color);
    padding: 16px;
    border: 1px solid #d1d5da;
    border-radius: 6px;
    overflow-x: auto;
}

.md code {
    background-color: var(--code-background-color);
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid #a0a1a1;
    font-family: Consolas, monospace;
    color: var(--code-color);
    word-break: break-all;
}

.md h1, .md h2, .md h3, .md h4, .md h5, .md h6 {
    color: var(--heading-color);
    margin-bottom: 16px;
}

.md a {
    color: var(--link-color);
    text-decoration: none;
}

.md a:hover {
    text-decoration: underline;
}

.md {
    color: var(--text-color);
}

.md blockquote {
    border-left: 4px solid var(--blockquote-border-color);
    margin: 0;
    padding-left: 16px;
    color: var(--blockquote-text-color);
}

.md hr {
    border: 0;
    height: 1px;
    background: var(--hr-background-color);
    margin: 24px 0;
}

.md del {
    text-decoration: line-through;
    color: var(--del-text-color);
}


.md img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.md input[type="checkbox"] {
    vertical-align: middle;
    margin-top: 2px;
}
